@{
    Layout = "~/_Layout.cshtml";// relative address and absolute address
    Page.Title = "Home - Razor";
}

@section banner{
    <h1>Home Page for Razor Form Samples</h1>
    }
    <p><i>insdnflaisgnisdfa</i></p>
<p>Heloooooooooo oooo</p>

<!-- controll shift B, build -->

@section footer{
    &copy; CPSC1517 NAIT, all rights reservered
    }
