@{
    Layout = "~/_Layout.cshtml";// relative address and absolute address
    Page.Title = "RadioButtons";
}
@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>RadioButtons for Razor form Samples</h1>
}

<!-- controll shift B, build -->

@section footer{
    &copy; CPSC1517 NAIT, all rights reservered
}
