@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid";

    //access the argument label from the sending page using .QueryString["xxx"]
    //QueryString returns either null (if argument did not exists) or
    //   a string value
    var categoryid = Request.QueryString["cid"];

    //check that a value was passed
    if (string.IsNullOrEmpty(categoryid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }


    //query the database using the passed value
    var db = Database.Open("NWDB");
    var scalarcommand = "SELECT CategoryName "
                        + "FROM Categories "
                        + "WHERE CategoryID = @0";
    
    //QueryValue returns a single value (not a record) from the  query
    //this value will be used in titling the WebGrid display
    var categoryname = db.QueryValue(scalarcommand, categoryid);

    var querycommand = "SELECT ProductID, ProductName, UnitPrice, UnitsInStock, Discontinued,GetDate() Date "
                        + "FROM Products "
                        + "WHERE CategoryID = @0 "
                        + "ORDER BY 2";
    var results = db.Query(querycommand, categoryid);

    //create an instance of WebGrid
    //notice the collection is passed at the time of instantiation

    //code here

    //to alter the default 10rows/page use the rowspPerPage attribute
    var gridinstance = new WebGrid(results,rowsPerPage:5);
    

}

@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>DataBase: WebGrid Query</h1>
}

<div class="row">
    <div class="col-md-12">
        <span style="font-size:x-large"><strong>Products for @categoryname</strong></span>
        <!--Display the WebGrid instance in its a customized display
                Default webgrid is simply .GetHtml()-->
        @gridinstance.GetHtml(tableStyle:"table table-bordered table-striped table-hover", mode:WebGridPagerModes.All, firstText:"Start", lastText:"End",
        columns:gridinstance.Columns(
                                    gridinstance.Column(columnName:"ProductID",header:"ID"),
                                    gridinstance.Column(columnName:"ProductName",header:"Product"),
                                    gridinstance.Column(columnName:"UnitPrice",header:"Price($)", format:(item) => item.UnitPrice.ToString("0.00")),
                                    gridinstance.Column(columnName:"Discontinued", header:"Disc"),
                                    gridinstance.Column(columnName:"Date",format:(item) => item.Date.ToString("MMM dd,yyyy"))/*MM = numeric number of month, MMM = short form of month, MMMM = long name of the month*/
                                    ))
    </div>
</div>

@section footer{
    &copy; CPSC1517 Nait 2019, all rights reserved
}

